/**
 * Styles for blog pages.
 */

#archives ul {
  list-style-type: none;
}

.entry-meta {
  color: tint($txtColor, 75%);
  font-style: oblique;
  margin-bottom: $baseFontSize;
}

.post {
  margin-bottom: 6 * $baseFontSize;

  ul,
  ol {
    list-style-position: outside;
  }
}