/**
 * Styles for the footer.
 */

@include sticky-footer(187px, "#page", "#footer-push", "#footer");

.mastfoot {
  background-color: Lightgrey;
  @include background(linear-gradient(top, #999, #aaa));
  color: shade($backgroundColor, 10%);
  margin-top: 5 * $baseFontSize;
  padding: 2 * $baseFontSize;
  text-align: center;

  p,
  li {
    font-size: ms(-1);
  }

  .footer-menu {
    a {
      @include unstyled-link;
      @include hover-link;
    }

    ul {
      text-align: center;
    }

    ul li {
      display: inline;
    }
  }
}
